/*//////// 3.5. offers div /////*/
.offer-item{
    position: relative;
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    padding: 30px 15px 30px 70px; /*top right bottom left(left is large to make icon fixed)*/
}

.offer-item .icon{
    position: absolute;
    left:15px;
    top:35px;
    color: var(--mainColor);
}

.offer-item-title{
    margin-bottom: 15px;
    transition: color 0.5s;
}
.offer-item-description{
    margin-bottom: 15px;
    line-height: 1.6;
    color: var(--grayColor);
}

.offer-item:hover .offer-item-title{
    color: var(--whiteColor);
}